.sideBar {
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.listLi {
    overflow-y: scroll;
}
.sideBar li {
    list-style-type: none;
}