.content {
    overflow: auto;
}
.clout {
    transition: 0.3s;
    cursor: pointer;
}
.clout:hover {
    opacity: 0.5;
}
.mainview {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}
.responsivechart {
    overflow: hidden;
    aspect-ratio:calc(3/2);
}
.lichessIframe {
    width: 200px; height: 250px;
}