.profile {
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
.showProf {
    margin-left:auto;
}
.inputClass {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}
.input {
    flex:2;
}
.dataView {
    flex-grow: 1;
    margin: 5px;
}
.flexBox {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.MessageChip {
    width: fit-content;
    padding: 5px;
    display: block;
    overflow: auto;
    justify-content: center;
    border-radius: 16px;
    outline: 0px;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap:break-word;
    flex-wrap: wrap;
    border: 0px;
    vertical-align: middle;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8125rem;
}